
.vs/GetNumbersFromServer/v16/.suo
GetNumbersFromServer/obj/
GetNumbersFromServer/bin/
.vs/GetNumbersFromServer/DesignTimeBuild/.dtbcache.v2
GetNumbersFromServer/.vs/GetNumbersFromServer/DesignTimeBuild/.dtbcache.v2
